modules = ["nodejs-20"]
[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40922914
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[ports]]
localPort = 5000
externalPort = 80
